.card-div {
    padding: 10px;

    border-radius: 10px;

    background-color: rgb(104, 128, 128);

    color: rgb(229 229 229);
    font-size: 24px;

    text-decoration: none;
}

.card-div:hover {
    background-color: rgb(83, 105, 105);
}

