.main-div {
    width: 1000px;
    border-radius: 30px;

    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;

    display: grid;
    
    background: linear-gradient(180deg, rgb(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.4) 100%);
}

.main-cards-div {
    margin-top: 10px;

    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 20px;
}

.main-header {
    margin: 0;
    margin-top: -10px;
    color: rgb(229 229 229);
    font-size: 32px;
}