* {
    font-family: monospace;

    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;         
}

p {
    color: rgb(229 229 229);
}

body {
    min-height: 100vh;

    margin: 0;
    padding: 20px;

    background: linear-gradient(135deg, rgba(71, 85, 105, 1) 0%, rgba(30, 41, 59, 1) 100%);
}
